// Theme colors
@themeRed: #c43631;
@themeDarkRed: #8c2623;
@themeDarkGrey: #303030;
@white: #ffffff;
@black: #000000;
@themeTableStriped: #fbfbfb;

@themeNavHoverColor: #535353;

@dropdownBackground: #ffffff;
@dropdownBorder: #ccc;
@dropdownLinkColorHover: #0081c2;
@dropdownLinkBackgroundHover: #0088cc;
@dropdownLinkBackgroundHover: #0077b3;