p.view-results {
	padding:10px;
	font-size:16px;
}
.panel {
	border:none;
	margin:15px 0;
	box-shadow:none;

	h4 {
		height:25px;
	}
}
p.blue {
	color: #428bca !important;
	font-size:18px;
}

blockquote {
	border:none;
	padding: 0 20px 10px;
}
.alert-danger a {
	color:#b94a48;
	text-decoration:underline;
}

h1 {
	color:@themeDarkRed;
	text-shadow: 0px 0px 1px rgba(140, 38, 35, 1);
}
h2 {
	color:@themeDarkRed;
	text-shadow: 0px 0px 1px rgba(140, 38, 35, 1);
	font-size:21px;
}