.nav-pills > li > a {
  .border-radius(0);
  color:@white;
  padding: 8px 10px 7px;
  	.transition(~"background .25s ease-in-out"); 

  &:hover {
  	background:@themeNavHoverColor;
  	.transition(~"background .25s ease-in-out"); 
  }
}

/* Social Elements in the header region */
.social-nav {
	float:right;
	height:35px;
	margin:0;
	padding:0;

	li {
		line-height:.4;
		height:24px;
		float:left;
		margin-right:3px;
		a {
			display:block;
			width:24px;
			height:24px;
			opacity:.3;
  		.transition(~"opacity .25s ease-in-out"); 

  		&:hover {
			opacity:.8;
  			.transition(~"opacity .25s ease-in-out"); 
  		}
			span {
				display:none;
			}
		}
	}
}
.social-nav a.facebook { background:url(../images/sprite_social_element.png) no-repeat -27px 0; }
.social-nav a.googleplus { background:url(../images/sprite_social_element.png) no-repeat -27px -60px; }
.social-nav a.twitter { background:url(../images/sprite_social_element.png) no-repeat -27px -30px; }
.social-nav a.stumbleupon {background:url(../images/sprite_social_element.png) no-repeat -27px -150px; }
.social-nav a.youtube { background:url(../images/sprite_social_element.png) no-repeat -27px -90px; }
.social-nav a.vimeo { background:url(../images/sprite_social_element.png) no-repeat -27px -120px; }
.social-nav a.linkedin { background:url(../images/sprite_social_element.png) no-repeat -27px -180px; }
.social-nav a.pinterest { background:url(../images/sprite_social_element.png) no-repeat -27px -210px; }
.social-nav a.rss { background:url(../images/sprite_social_element.png) no-repeat -27px -240px; }
.social-nav a.digg { background:url(../images/sprite_social_element.png) no-repeat -27px -270px; }
.social-nav a.myspace { background:url(../images/sprite_social_element.png) no-repeat -27px -300px; }
.social-nav a.picasa { background:url(../images/sprite_social_element.png) no-repeat -27px -330px; }
.social-nav a.flickr { background:url(../images/sprite_social_element.png) no-repeat -27px -360px; }
.social-nav a.dribbble { background:url(../images/sprite_social_element.png) no-repeat -27px -390px; }
.social-nav a.blogger { background:url(../images/sprite_social_element.png) no-repeat -27px -420px; }
.social-nav a.feedback { background:url(../images/sprite_social_element.png) no-repeat -27px -450px; }