table.table {
	thead {
		tr > th {
			border:none;
      vertical-align: middle;
      text-align: center;
		}
	}
	tbody {
		tr > td {
			vertical-align: middle;
      text-align: center;
		}
	}
	tfoot {
		tr > td {
			text-align: center;
			vertical-align: middle;
		}
	}
}

// Default zebra-stripe styles (alternating gray and transparent backgrounds)
table.table-striped {
  > tbody {
    > tr:nth-child(odd) {
      > td,
      > th {
        background-color: @themeTableStriped;
      }
    }
  }
}

// Placed here since it has to come after the potential zebra striping
table.table-hover {
  > tbody {
    > tr:hover {
      > td,
      > th {
        background-color: @themeDarkGrey;
        color:@white;
      }
    }
  }
}

table .header-fixed {
  position: fixed;
  top: 0;
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
  border-bottom: 1px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 0 #fff, 0 1px 1px rgba(0,0,0,.1);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}
