.has-error .form-control {
	background:#ffedec;
}

.twitter-typeahead {
	width:100%;

	.tt-dropdown-menu {
		min-width:100%;
	}

	.tt-hint {
		display:none;
	}
	
	img {
		float:left;
		margin-right:20px;
	}

	h3 {

	}
}
.slider {
	width:100% !important;
}
.sliders {
	position:relative;
	.values {
		position:absolute;
		text-align: center;
		top:0;
		width:100%;
	}
}