body {
  padding-bottom:40px;
	div.top-bar {
		height:40px;
		background:@themeDarkGrey;
		border-bottom:5px solid @themeRed;
	}
	div.container {
		margin-top:20px;
	}
}

.clearfix {
  .clearfix();
}
