@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: @screen-xs-max) {
	.sliders {
		padding:0 20px;
	}

	h1 {
		font-size:23px;
	}
	blockquote p 
	blockquote p.blue {
		font-size:12px;
	}
	.img-gutter-right {
		margin-right:15px;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) {
	table.table {
		tbody {
			tr > td {
				&.actions {
					width:15%;
				}
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {
	table.table {
		tbody {
			tr > td {
				&.actions {
					width:12%;
				}
			}
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {
	table.table {
		tbody {
			tr > td {
				&.actions {
					width:10%;
				}
			}
		}
	}
}